@font-face {
    font-family: "Nurse Bold";
    src: url("./content/Norse-Bold.otf");
}



body{
    padding: 0px 30vh 0px 30vh;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    margin: 0;
}

/*First part*/

.body{
    display: flex;
    background-color: whitesmoke;
    flex-shrink: 0;
    flex: 1;

}

.images{
    height: 100vh;
    width: 60vh;
    padding: 200px 0px 0px 0px;
    background-image: url("./content/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: "Nurse Bold";
}

.image{
    width: 100px;
    height: 100px;
}

.text{
    font-size: 64px;
    font-weight: 900;
    color: white;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
    flex-wrap: wrap;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size:larger;
    width: 70vh;
    padding: 10vh 0vh 0vh 5vh;
    font-weight: 450;
}


/* Second part*/



.data{
    padding: 5vh 30vh 5vh 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border: 0;
}


.box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input:focus{
    border-color: blue;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

#pass:invalid,
#confirm:invalid{
    border-color: rgb(255, 56, 56);
}

input:valid{
    border-color: lightgreen;
}

input {
    border-radius: 5px;
}

.label{
    font-size: 8px;
    font-weight: 500;
}


#submit{
    background-color: rgb(60, 100, 60);
    border-radius: 8px;
    color: white;
    border-style: none;
    width: 175px;
    height: 40px;
    margin-left: 5vh;
    margin-top: 5vh;
    
}

#submit:focus{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    background-color: rgb(40, 68, 40);
}


legend{
    padding-top: 5vh;
    text-align:justify;
}


#exit{
    text-align: center;
    font-size: 15px;
}

#credits{
    font-size: 10px;
    text-align: center;
}