body{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.Calculator{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 8px solid black;
    border-radius: 8px;
}

.visor{
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    border: 1px solid black;
}

.row{
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.two{
    justify-content: space-between;
}

.button{
    background-color: beige;
    width: 50px;
    height: 50px;
}

.button:active{
    background-color: rgb(101, 100, 100);
}

.operator,
.equals{
    background-color: yellow;
    width: 50px;
    height: 50px;
}
.operator:active,
.equals:active{
    background-color: rgb(156, 156, 0);
}

.clear{
    width: 100px;
    height: 50px;
    background-color: red;
}

.clear:active{
    background-color: rgb(158, 0, 0);
}

.zero{
    width: 100px;
    height: 50px;
}

.exit{
    display: flex;
    align-items: center;
    justify-content: center;
}
