body{
    background-color: beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap : 16px;
}

.send {
    border-radius: 8px;
    background-color: greenyellow;
    width: 50px;
    height: 25px;
    border-style: none;
}

.reset{
    border-radius: 8px;
    background-color: rgb(156, 36, 36);
    width: 50px;
    height: 25px;
    border-style: none;
}

.exit {
    text-align: center;
    margin-top: 16px;
}