body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* First part*/
.first{
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px 125px 100px 125px;
    box-sizing: border-box;
    flex: auto;
    gap:100px;
    
}

.header{
    display: flex;
    justify-content: space-between;
}

.Logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header.text{
    list-style: none;
    display: flex;
    margin: 0;
    gap: 16px;
    color:#E5E7EB;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

#text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;
}

.up{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.desc{
    color: #E5E7EB;
    font-size: 18px;
}

.button{
    background-color: #3882f6;
    border-radius: 8px;
    width: 125px;
    height: 40px;
    color: #E5E7EB;
    border-style: none;
    font-weight: 900;
}

.fakeimage{
    width: 1000px;
    height: 250px;
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #E5E7EB;
}

/* Second part*/
.second{
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.secondtitle{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.boxes{
    color: #1f2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 150px;
}

.boximage{
    border-radius: 16px;
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
}

/*third part*/

.third{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 250px 100px 250px;
    text-align: justify;
}

.quote{
    display: flex;
    flex-direction: column;
    gap:32px;
}

.quotetext{
    font-weight: 300;
    font-style: italic;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

/*fourth part*/

.fourth{
    padding: 100px 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 50px 100px 50px 100px;
    display: flex;
    gap: 128px;
}

.containertext{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.containertitle{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.containersubtext{
    color: #E5E7EB;
    font-size: 18px;
}


.end{
    border-color: #F9FAF8;
    border-style: solid;
    align-self: center;
}

/*fifth part*/
.fifth{
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 50px;
    font-size: 24px;
}
