body{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 200px;
    background-color: yellow;
}

.first{
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 255, 237);
    border: 8px solid lightgreen;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    padding: 28px;
    flex: 1 0;
    
}
.title{
    font-size: 36px;

}

.buttons{
    display: flex;
    gap: 32px;
}

.button:focus{
    background-color: grey;
}

.button{
    background-color: azure;
    border-radius: 8px;
    font-size: 10px;
    width: 100px;
    height: 35px;
}

.score{
    font-size: 24px;
    text-align: center;
}

.placar{
    display: flex;
    font-size: 28px;
    align-items: center;
    gap: 50px;
}

.result{
    font-size: 12px;
    text-align: center;
}

.exit{
    text-align: center;
}